# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
1. Java
2. Python
3. R

# Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Pandas

|Data Science Tools|
|------------------|
|Anaconda|
|Jupyter|
|R|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# his will convert 200 minutes to hours by diving by 60
m=200
h=m/60
print(h)

3.3333333333333335

# **Objectives:**
# List popular languages for Data Science
+ R
+ Python
+ Java

## Author 
Mahinda Jayakody